{% extends "layouts/main.html" %}

{% block pageTitle %}
  Enter your email address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter your email address
      </h1>

      <p class="govuk-body">
        We’ll only use this to send you a receipt.
      </p>

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address (Optional)
          </label>
          <input 
            class="govuk-input" 
            id="email" 
            name="email" 
            type="email" 
            spellcheck="false" 
            autocomplete="email">
        </div>

        {{ govukButton({
          text: "Continue",
          href: "check-answers"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
